tr.user-row {
  cursor: pointer;
}
tr.user-row .copy-btn {
  padding: 0 5px;
  margin-left: 5px;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
tr.user-row:hover .copy-btn {
  opacity: 1;
}
.email-cell {
  white-space: nowrap;
}